<li class="nav-item dropdown">
    {% if user.is_authenticated %}

        <a class="nav-link dropdown-toggle"
           href="" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            {{ user|default:'пользователь' }}
        </a>

        <div class="dropdown-menu"
             aria-labelledby="navbarDropdown">
            <a class="dropdown-item"
               href="{% url 'auth:edit' %}">профиль</a>

            {% if user.is_superuser %}
                <div class="dropdown-divider"></div>

            {% endif %}
        </div>

        <li class="nav-item">
            <a class="nav-link"
               href="{% url 'auth:logout' %}">выйти</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link"
               href="{% url 'auth:login' %}">войти</a>
        </li>
    {% endif %}
</li>
